<div style="text-align: center;" *ngIf="admin">

  <div>
    <strong> Règles de quantification des IoT de la solution {{nomsolution}} </strong>
  </div>
  
  <div>
    <div *ngFor="let sous_solution of sous_solutions">
      <br>Sous-solution :  {{sous_solution}}
      <div *ngFor="let association of associations">
        <div *ngIf="sous_solution == association.fields.sous_solution">
          - IoT: {{association.fields.product}}, quantité : multiplier par {{association.fields.nombre_iot}} la réponse à la question "{{association.included.question[0].subIncluded.content}}"
          <button>Supprimer</button>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div *ngIf=!add_regle>
    <button (click)=AddRegle()>Ajouter une règle</button>
  </div>

  <div *ngIf=add_regle>
    Sous solution : 
    <br> IoT :
    <br> Quantité : multiplier par <input type="number"> la réponse à la question
    <br><button (click)=onSubmit()>Valider</button>
  </div>
  

<div style="text-align: center;" *ngIf="!admin">
  <br> Veuillez vous connecter pour accéder à cette page.
</div>