<div style="text-align: center;" *ngIf="admin">

  <div>
    <strong> Règles de quantification des IoT de la solution {{nomsolution}} </strong>
  </div>
  
  <div>
    <div *ngFor="let sous_solution of sous_solutions_names">
      <br>Sous-solution :  {{sous_solution[1]}}
      <div *ngFor="let association of associations">
        <div *ngIf="sous_solution[0] == association.fields.sous_solution">
          <div *ngFor="let iot of all_iot">
            <div *ngIf="iot.id == association.fields.product">
              - IoT: {{iot.fields.brand}} {{iot.fields.name}}, quantité : multiplier par {{association.fields.nombre_iot}} la réponse à la question "{{association.included.question[0].subIncluded.content}}"
              <button (click)="onDelete(association.id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div *ngIf=!add_regle>
    <button (click)=AddRegle()>Ajouter une règle</button>
  </div>

  <div *ngIf=add_regle>
    Sous solution : 
    <select [(ngModel)]="new_sous_solution">
      <ng-container *ngFor="let sous_solution of sous_solutions_names">
        <option value="{{sous_solution[0]}}">{{sous_solution[1]}}</option>
      </ng-container>
    </select>
    
    <br> IoT :
    <select [(ngModel)]="new_product">
      <ng-container *ngFor="let iot of all_iot">
        <option value="{{iot.id}}">{{iot.fields.brand}} - {{iot.fields.name}}</option>
      </ng-container>
    </select>
    <br> Quantité : multiplier par <input class="number" type="number" [(ngModel)]="new_number_iot"> la réponse à la question
    <select [(ngModel)]="new_question">
      <ng-container *ngFor="let question of all_questions">
        <ng-container *ngIf="question.fields.type == 'number'">
          <option value="{{question.id}}">{{question.id}} - {{question.included.text[0].content}}</option>
        </ng-container>
      </ng-container>
    </select>
    <br><button (click)=onSubmit()>Valider</button>
  </div>
  

<div style="text-align: center;" *ngIf="!admin">
  <br> Veuillez vous connecter pour accéder à cette page.
</div>