#outil{
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #00438a;
 }

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #00438a; 
}