<br>
<br>
<mat-card id="outil">
    <mat-card-header>
        <mat-card-title id="outil_title">
            Dimensionnement de votre projet : {{nomsolution}}
            <!--
            <button mat-raised-button *ngIf="isAuth" (click)="onModifProjet()">Admin : modifier ce projet</button>                
            -->

        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <mat-horizontal-stepper linear="true" selectedIndex = 0 labelPosition="bottom" (selectionChange)="changeHandler($event)">
            <mat-step completed= {{complete}}>
                <mat-grid-list cols="2">
                    <div style="text-align: center;">
                        <font size="+2.5">Capteurs et connectivité</font><br>
                        <button *ngIf="!modif && admin" (click)=onModifier()>Modifier</button>
                        <button *ngIf="modif && admin" (click)=onValiderModif()>Valider les modifications</button>
                    </div>
                    <br><app-question *ngIf="id_question_0"
                        [tab]="selectedTab" 
                        [id_question]=id_question_0
                        [modif]=modif>
                    </app-question>
                    <div style="text-align: center;" *ngIf="modif && admin">
                        <button>Ajouter une question</button>
                    </div>
                </mat-grid-list>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div style="text-align: center;">
                        <font size="+2.5">Application et fonctionnalités</font><br>
                        <button *ngIf="!modif && admin" (click)=onModifier()>Modifier</button>
                        <button *ngIf="modif && admin" (click)=onValiderModif()>Valider les modifications</button>
                    </div>
                    <br><app-question *ngIf="id_question_1"
                        [tab]="selectedTab" 
                        [id_question]=id_question_1
                        [modif]=modif>
                    </app-question>
                    <div style="text-align: center;" *ngIf="modif && admin">
                        <button>Ajouter une question</button>
                    </div>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div style="text-align: center;">
                        <font size="+2.5">Installation physique des IoT et création du dashbord</font><br>
                        <button *ngIf="!modif && admin" (click)=onModifier()>Modifier</button>
                        <button *ngIf="modif && admin" (click)=onValiderModif()>Valider les modifications</button>
                    </div>
                    <br><app-question *ngIf="id_question_2"
                        [tab]="selectedTab" 
                        [id_question]=id_question_2
                        [modif]=modif>
                    </app-question>
                    <div style="text-align: center;" *ngIf="modif && admin">
                        <button>Ajouter une question</button>
                    </div>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div style="text-align: center;">
                        <font size="+2.5">Récapitulatif et validation</font><br>
                        <button *ngIf="!modif && admin" (click)=onModifier()>Modifier</button>
                        <button *ngIf="modif && admin" (click)=onValiderModif()>Valider les modifications</button>
                        <br>
                        <div [contentEditable]="modif && modif">
                            <font size="+1.5">Capteurs et connectivité</font><br>
                            <div *ngFor="let q of questions">
                               <div *ngIf="q.partie==0">
                                    {{q.question}} {{q.reponse}}
                                </div>
                            </div>
                            <br>
                            <font size="+1.5">Application et fonctionnalités</font><br>
                            <div *ngFor="let q of questions">
                                <div *ngIf="q.partie==1">
                                    {{q.question}} {{q.reponse}}
                                </div>
                            </div>
                            <br>
                            <font size="+1.5">Installation physique des IoT et création du dashbord</font><br>
                          <div *ngFor="let q of questions">
                                <div *ngIf="q.partie==2">
                                    {{q.question}} {{q.reponse}}
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <br>
                    <div style="text-align: center;">
                    <app-question *ngIf="id_question_3"
                        [tab]="selectedTab" 
                        [id_question]=id_question_3
                        [modif]=modif>
                    </app-question>
                        <button mat-raised-button>Valider</button>
                    </div>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
            </mat-step>
        </mat-horizontal-stepper>

    </mat-card-content>
</mat-card>