<br>
<br>
<mat-card id="outil">
    <mat-card-header>
        <div id="dim-solution-title">
        <mat-card-title id="outil_title">
            
                Dimensionnement de votre projet : {{nomsolution}}
            

        </mat-card-title>
        </div>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <mat-horizontal-stepper linear="true" selectedIndex = 0 labelPosition="bottom" (selectionChange)="changeHandler($event)">
            <mat-step completed= {{complete}}>
                <mat-grid-list cols="2">
                    <div class="intitule-qt">
                        <span class="qt-title">{{nom_sec1}}</span><br>
                        <button class="btnadmin" *ngIf="!modif && admin" (click)=onModifier()>Modifier les questions</button>
                        <button class="btnadmin" *ngIf="modif && admin" (click)=onQuit()>Quitter l'outil de modification</button>
                    </div>
                    <br>
                    <app-question *ngIf="id_question_0 && !modif"
                        [tab]=0
                        [id_question]=id_question_0
                        [niveau]=0
                        [solution]=nomsolution>
                    </app-question>
                    <app-modif-project *ngIf="id_question_0 && modif && selectedTab==0"
                        [tab]=0
                        [id_question]=id_question_0
                        [id_solution]=id_solution>
                    </app-modif-project>
                </mat-grid-list>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div class="intitule-qt">
                        <span class="qt-title">{{nom_sec2}}</span><br>
                        <button class="btnadmin" *ngIf="!modif && admin" (click)=onModifier()>Modifier les questions</button>
                        <button class="btnadmin" *ngIf="modif && admin" (click)=onQuit()>Quitter l'outil de modification</button>
                    </div>
                    <br><app-question *ngIf="id_question_1 && !modif"
                        [tab]=1
                        [id_question]=id_question_1
                        [niveau]=0
                        [solution]=nomsolution>
                    </app-question>
                    <app-modif-project *ngIf="id_question_1 && modif  && selectedTab==1" 
                        [tab]=1
                        [id_question]=id_question_1
                        [id_solution]=id_solution>
                    </app-modif-project>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div class="intitule-qt">
                        <span class="qt-title">{{nom_sec3}}</span><br>
                        <button class="btnadmin" *ngIf="!modif && admin" (click)=onModifier()>Modifier les questions</button>
                        <button class="btnadmin" *ngIf="modif && admin" (click)=onQuit()>Quitter l'outil de modification</button>
                    </div>
                    <br><app-question *ngIf="id_question_2 && !modif"
                        [tab]=2
                        [id_question]=id_question_2
                        [niveau]=0
                        [solution]=nomsolution>
                    </app-question>
                    <app-modif-project *ngIf="id_question_2 && modif  && selectedTab==2" 
                        [tab]=2
                        [id_question]=id_question_2
                        [id_solution]=id_solution>
                    </app-modif-project>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
                <button mat-raised-button style="float:right;" matStepperNext>Page suivante</button>
            </mat-step>
            <mat-step>
                <mat-grid-list cols="2">
                    <div class="intitule-qt">
                        <div class="qt-title">{{nom_sec4}}</div><br>
                        <button class="btnadmin" *ngIf="!modif && admin" (click)=onModifier()>Modifier les questions</button>
                        <button class="btnadmin" *ngIf="modif && admin" (click)=onQuit()>Quitter l'outil de modification</button>
                        <br>
                    </div>
                    <div id="recap-dim">
                        <span class="ss-titre-recap">
                            {{nom_sec1}}
                        </span>
                        <hr>
                        <div *ngFor="let q of questions">
                            <div class="recap" *ngIf="q.partie==0">
                                {{q.question}} <strong>{{q.reponse}}</strong>
                                
                            </div>
                            <hr>
                        </div>
                        <br>
                        <span class="ss-titre-recap">
                            {{nom_sec2}}
                        </span>
                        <hr>
                        <div *ngFor="let q of questions">
                            <div class="recap" *ngIf="q.partie==1">
                                {{q.question}} <strong>{{q.reponse}}</strong>
                                
                            </div>
                            <hr>
                        </div>
                        <br>
                        <span class="ss-titre-recap">
                            {{nom_sec3}}
                        </span>
                        <hr>
                        <div  *ngFor="let q of questions">
                            <div class="recap" *ngIf="q.partie==2">
                                {{q.question}} <strong>{{q.reponse}}</strong>
                                
                            </div>
                            <hr>
                        </div>
                    </div>                        
                    
                    <br>
                    <div class="modif-projet">
                        <app-question *ngIf="id_question_3 && !modif"
                            [tab]=3
                            [id_question]=id_question_3
                            [niveau]=0
                            [solution]=nomsolution>
                        </app-question>
                        <app-modif-project *ngIf="id_question_3 && modif && selectedTab==3" 
                            [tab]=3
                            [id_question]=id_question_3
                            [id_solution]=id_solution>
                        </app-modif-project>
                        <!-- Bouton pour avoir une boîte de dialogue et possibilité de télécharger le pdf comme le formulaire de contact -->
                        <!-- <button mat-raised-button (click)="onSubmit_resume()">Valider</button> -->

                        <!--Bouton pour envoyer directement un mail-->
                        <button mat-raised-button (click)="onSubmit_mail()">Valider</button>
                    </div>
                </mat-grid-list>
                <button mat-raised-button matStepperPrevious>Page précédente</button>
            </mat-step>
        </mat-horizontal-stepper>

    </mat-card-content>

    <button class="btnadmin" type="button" *ngIf="admin" (click)="onCreerQuestion()">Créer une nouvelle question</button>
    <button class="btnadmin" type="button" *ngIf="admin" (click)="onSupprimerQuestion()">Supprimer une question</button>
    <button class="btnadmin" type="button" *ngIf="admin" (click)="onCreerProjet()">Créer un nouveau questionnaire</button>
</mat-card>

