.btnadmin {
  margin-left: 1vh;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-color: #DBDBDB;
  box-shadow: 1px 1px 1px #646464;
}

#outil{
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#dim-solution-title {
  text-align: center;
}

.intitule-qt {
	text-align: center;
}

.qt-title {
	font-size: 1.8em;
}

.ss-titre-recap {
	font-size: 1.5em;
  padding: 5% 0% 1% 0%;

}

#recap-dim {
  text-align: left;
  padding-left: 17%;
  padding-right: 17%;
}

.recap {
  padding: 1% 0% 1% 5%;
}

hr {
  margin: 0;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #00438a;
 }

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #00438a; 
}