<div style="text-align: center;">

  <!-- Affichage de la question -->

  <div *ngIf="type=='radio'"> <!--QM avec une seule réponse possible-->
    {{question}}
    <ngcontainer *ngFor="let r of reponses">
      <br><input type="radio" name="{{id_question}}" value="{{r.id}}" [(ngModel)]="id_answer" (change)="onAnswer()"> {{r.reponse}}
    </ngcontainer>
  </div>

  <div *ngIf="type=='text'">
    {{question}}
    <br><textarea [(ngModel)]="answer" (change)="onAnswer()"></textarea>
  </div>

  <div *ngIf="type=='number'">
    {{question}}    
    <br><input type="number" [(ngModel)]="answer" (change)="onAnswer()">
  </div>
  
  <!-- <div *ngIf="type=='checkbox'">
    {{question}}
    <ngcontainer *ngFor = "let r of reponses">
      <br><input type="checkbox" (change)="onAnswer2(r[0])"> {{r[1]}}
    </ngcontainer>
  </div> -->

  <div *ngIf="type=='select'">
    {{question}}
    <br>
    <select multiple [(ngModel)]="answer" (change)="onAnswer()">
      <option *ngFor = "let r of reponses"> {{r.reponse}} </option>
    </select>
    <br><small>(Utilisez CTRL pour sélectionner plusieurs)</small> <!--Mettre ça dans "info" plutôt (pour la langue)-->
  </div>

  <div *ngIf="type=='select_all_iot'">
    {{question}}
    <br>
    <select multiple [(ngModel)]="answer" (change)="onAnswer()">
      <option *ngFor = "let iot of all_iot"> {{iot.name}} - {{iot.brand}}</option>
    </select>
    <br><small>(Utilisez CTRL pour sélectionner plusieurs)</small> <!--Mettre ça dans "info" plutôt (pour la langue)-->
  </div>

  <small>{{info}}</small>

  <br>

  <!-- Affichage de la question suivante -->
  <div *ngIf="(answer || id_answer) && !modif">
    <app-question *ngIf="next" 
      [id_question]=next
      [tab]=tab
      [modif]=modif>
    </app-question>
  </div>
