.btnmodif{
  height: 30px;
  vertical-align: center;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-color: #DBDBDB;
  box-shadow: 1px 1px 1px #646464;
  padding: 7%;
}

#container-admin-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-left: 1vh;
  background-color: white;
  border: solid 1px #f0f0f0;
}

.pencil{
  height: 100%;
}
