<button class="btnmodif"
        (click)="allowModifImage()"
        *ngIf="admin===true && modifAllowed===false"
        title="Modification">
        <mat-icon>create</mat-icon>
        <span>{{buttonName}}</span>
</button>
<div id="container-admin-controls"
     *ngIf="admin===true && modifAllowed==true">
  <input type="file"
         id="inputImgSolution"
         #input
         accept="image/*">
   <button class="btnadmin" (click)="updateImageDisplay()"
           title="Visualiser">
           Visualiser
   </button>
   <button class="btnadmin" (click)="sendDatatoDB()"
           *ngIf="visualizationActivated==true"
           title="Valider">
           Valider
   </button>
   <button class="btnadmin" (click)="closeImageModifPanel()"
           title="Annuler">
           Annuler
   </button>
 </div>
