<button class="btnmodif"
        (click)="allowModifImage()"
        *ngIf="admin===true && modifAllowed===false"
        title="Modification">
        {{imageType}} <img class="pencil" src="/assets/images/pencil.png">
</button>
<div id="container-admin-controls"
     *ngIf="admin===true && modifAllowed==true">
  <input type="file"
         id="inputImgSolution"
         #input
         accept="image/png, image/jpeg">
   <button (click)="updateImageDisplay()"
           title="Visualiser">
           Visualiser
   </button>
   <button (click)="sendDatatoDB()"
           *ngIf="visualizationActivated==true"
           title="Valider">
           Valider
   </button>
   <button (click)="closeImageModifPanel()"
           title="Annuler">
           Annuler
   </button>
 </div>
