<app-banner [admin]="admin"
            [couleur]="databanner.color"
            [databanner]="databanner"
            [nomsolution]="datasolution.name"
            [idnamesolution]="datasolution.idname"
            [idcadran]="idcadran">
</app-banner>

<div id="argumentscommerciaux">
  <div id="problem" #problem>
    <p [contentEditable]="contentEditableProblem">
      {{datasolution.problem}}
    </p>
  </div>
  <div id="description" #desc [contentEditable]="contentEditableDesc">
    <p *ngFor="let paragraph of datasolution.desc">
      {{paragraph}}
    </p>
  </div>
  <div class="btnmodiftexte">
    <app-modif-texte [admin]="admin" buttonName="Problématique" [allowNewParagraph]="false" [idtext]="datasolution.idproblem" [textView]="problemView" [(editAllowed)]="contentEditableProblem"></app-modif-texte>
    <app-modif-texte [admin]="admin" buttonName="Description" [allowNewParagraph]="true" [idtext]="datasolution.iddesc" [textView]="descView" [(editAllowed)]="contentEditableDesc"></app-modif-texte>
  </div>
</div>

<div id="dashboard" style="width: 99vw; height: 60vh;">
  <div id="divtext">
    <div  #text id="text" [contentEditable]="contentEditableText">
      <p *ngFor="let paragraph of datasolution.text_db">
        {{paragraph}}
      </p>
    </div>
    <div class="btnmodiftexte">
      <app-modif-texte [admin]="admin" buttonName="Texte" [allowNewParagraph]="true" [idtext]="datasolution.idtext" [textView]="textView" [(editAllowed)]="contentEditableText"></app-modif-texte>
    </div>
  </div>
  <div id="divimage" #divimage [style.background-image]="datasolution.picture_db">
    <div id="btnmodifimage">
      <app-modif-image [admin]="admin"
                       [containerId]="idsolution"
                       buttonName="Image"
                       containerType="solutionContents"
                       imageType="picture_db"
                       [imageView]="imageView"
                       [nomSolution]="nomsolution">
      </app-modif-image>
    </div>
  </div>
</div>

<div *ngIf="outil_dim" id="linkProject">
  <button type="button" id="buttonProject" #buttonproject (click)="onSimulerProjet()">{{dictTexts['sim']}}</button>
</div>

<div *ngIf="admin && outil_dim">
  <button type="button" (click)="desactiverOutilDim()">Désactiver l'outil l'outil de dimensionnement</button>
</div>

<div *ngIf="admin && !outil_dim">
  <button type="button" (click)="activerOutilDim()">Activer l'outil l'outil de dimensionnement</button>
</div>

<app-btnlinkcadrans></app-btnlinkcadrans>
