#argumentscommerciaux{
  width: 99vw;
  height: auto;
  padding: 5vh;
}

#divtext{
  width: 50%;
  height: 60vh;
  padding: 1%;
  left: 0;
  padding-left: 5%;
  padding-top: 2%;
  position: absolute;
  text-align: center;
}

#divimage{
  width: 50%;
  height: 60vh;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#buttonProject{
  width: 30%;
  height: 7vh;
  font-size: 18px;
  background-color: #002e5d;
  border:0;
  border-radius: 12px;
  color: white;
  text-align: center;
}

#linkProject{
  margin: 2%;
  position: relative;
  text-align: center;
  width: inherit;
  height: 15%;
  padding-top: 1%;
  padding-bottom: 5%; 
}
