<app-banner [admin]="admin"
            [photo]="databanner.picture_back"
            [logoURL]="databanner.logo"
            [cerclesURL]="databanner.circles"
            [couleur]="databanner.color"
            [problematique]="databanner.problem"
            [nomcadran]="databanner.name"
            [nomsolution]="nomsolution">
</app-banner>

<div id="argumentscommerciaux" style="border-width:10px; border-color: #000000">
  <p>
    {{datasolution.problem}}
  </p>
  <p>
    {{datasolution.desc}}
  </p>
</div>

<div id="dashboard" style="width: 99vw; height: 60vh;">
  <div id="divtext">
    <p id="text" style="text-align: justify;">
      {{datasolution.text_db}}
    </p>
  </div>
  <div id="divimage" [style.background-image]="datasolution.picture_db">
  </div>
</div>

<div id="linkProject">
  <button type="button" id="buttonProject" #buttonproject (click)="onSimulerProjet()">Simulez votre projet</button>
</div>

<app-btnlinkcadrans></app-btnlinkcadrans>
