<div id="container"> <!--#134384-->
  <div #fond id="fond" [style.background-image]="photo"></div>
  <div id="filter" [style.background-color]="couleur"></div>
  <div #textcontainer id="left">
    <p class="h4" [contentEditable]="contentEditableText"> {{nomcadran}} </p>
    <p class="h2" [contentEditable]="contentEditableText"> {{problematique}}</p>
    <p class="h2" *ngIf="nomsolution!==''" id="solution" [contentEditable]="contentEditableText"> {{nomsolution}} </p>
    <div id="btnmodiftexte"><app-modif-texte [admin]="admin" [textView]="textView" [(editAllowed)]="contentEditableText"></app-modif-texte></div>
  </div>
  <div id="right">
    <div id="topright">
      <img #logo id="logoCadran" [src]="logoURL">
      <app-modif-image [admin]="admin"
                       [containerId]="idcadran"
                       containerType="cadrans"
                       imageType="logo"
                       [imageView]="logoView"
                       img="true"></app-modif-image>
    </div>
    <img #cercles id="cercles" [src]="cerclesURL">
    <div id="btnmodifimage">
      <app-modif-image [admin]="admin" [containerId]="idcercles" containerType="texts" imageType="text" [imageView]="cerclesView" img="true"></app-modif-image>
      <app-modif-image [admin]="admin" [containerId]="idcadran" containerType="cadrans" imageType="picture_back" [imageView]="fondView"></app-modif-image>
    </div>
  </div>
</div>
