#cercles{
  position: absolute;
  right: 0;
  bottom:0;
  height: 65%;
}

#logoCadran{
  position: absolute;
  right: 30%;
  top: 10%;
  height: 11%;
}

#left{
  position: absolute;
  left: 8%;
  top: 40%;
  color: white;
}

#photo{
  height: 65vh;
  width:100vw;
  background-size: 100% 100%;
}

#filtre{
    width:100%;
    height:100%;
    opacity: 0.75;
    position: relative;
}
