#title{
  width: 100%;
  text-align: center;
}

.form-group{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#divname{
  width: 40%;
}

#divtext textarea{
  height: 100px;
}

#bntcancel, #bntreset{
  color: white;
  background-color: #3e3e3e;
  margin-left: 1vh;
}
