<div id="body" *ngIf="admin">
    <div id="titre">
        <strong>Création d'une nouvelle question</strong>
    </div>
    
    <div>
        Cet outil permet de créer une question, qui apparaîtra ensuite dans la liste des questions possibles lors de la modification ou de la création des questionnaires.
    </div>

    <br>

    <!-- <div>
        Type de question : <input type="text" [(ngModel)]="type">
    </div> -->

    <div class="item">
        Type :
        <select [(ngModel)]="type">
            <option value="radio">QCM avec une seule réponse possible</option>
            <option value="select">QCM avec plusieurs réponses possibles</option>
            <option value="text">Texte</option>
            <option value="number">Nombre</option>
            <option value="select_all_iot">Sélection parmi tous les IoT disponibles</option>
        </select>
    </div>


    <div class="item">
        Enoncé de la question : <input class="saisie" type="text" [(ngModel)]="question">
    </div>

    <!-- <div>
        Commentaire à ajouter en dessous de la question (facultatif) : <input type="text" [(ngModel)]="info">
    </div> -->
    <!--Attribut "info" laissé de côté pour le moment car contraignant et apporte pas grand chose-->

    <div class="item" *ngIf="type == 'radio' || type == 'select'">
        Nombre de réponses : <input type="number" min="1" [(ngModel)]="nb_reponses">
    </div>
    <hr>
    <div>
        <div class="item" *ngFor="let reponse of reponses(nb_reponses);let index=index;">
            <div *ngIf="type == 'radio' || type == 'select'">
                Enoncé de la réponse n° {{index+1}} : <input class="saisie" type="text" [(ngModel)]="reponses[index]">
            </div>
                <!-- <br>Identifiant de la question suivante : <input type="number" [(ngModel)]="questions_suivantes[index]"> -->
            <ng-container class="item" *ngIf="type">
                Question suivante :
            <select [(ngModel)]="questions_suivantes[index]">
                <option value="null">Aucune</option>
                <option *ngFor = "let q of questions_existantes"
                    [value]="q.id">
                    id {{q.id}}: "{{q.included.text[0].content}}"
                </option>
            </select>
            
            <small>Si aucune, sélectionnez "Aucune" dans le menu déroulant</small>
            <br>
            <hr>
            </ng-container>
        </div>
    </div>

    <br>
    <div id="btn-valider">
        <button (click)=onPost()>Créer la question</button>
    </div>


</div>


<div style="text-align: center;" *ngIf="!admin">
    <br> Veuillez vous connecter pour accéder à cette page.
</div>