<app-banner [admin]="admin"
            [couleur]="couleur"
            [databanner]="databanner"
            [idcadran]="idcadran">
</app-banner>

<ul>
  <li *ngFor="let offer of offerList; let index = index; let isOdd = odd;">
      <app-offer [admin]="admin"
                 [num]="index"
                 [dataoffer]="offer"
                 [couleur]="couleur"
                 [solutions]="offer.solutions"
                 [configgauche]=isOdd>
      </app-offer>
  </li>
</ul>

<app-new-offer [numoffre]="nboffre"
               [idcadran]="idcadran"
               *ngIf="admin===true">
</app-new-offer>
<app-btnlinkcadrans></app-btnlinkcadrans>
