<app-banner [admin]="admin"
            [photo]="databanner.picture_back"
            [logoURL]="databanner.logo"
            [cerclesURL]="databanner.circles"
            [couleur]="couleur"
            [problematique]="databanner.problem"
            [nomcadran]="databanner.name">
</app-banner>

<ul>
  <li *ngFor="let offer of offerList; let index = index; let isOdd = odd;">
      <app-offer [admin]="admin"
                 [num]="index"
                 [idBDD]="offer.id"
                 [photooffre]="offer.picture"
                 [couleur]="couleur"
                 [nomoffre]="offer.name"
                 [texteoffre]="offer.text"
                 [solutions]="offer.solutions"
                 [configgauche]=isOdd>
      </app-offer>
  </li>
</ul>

<app-new-offer [numoffre]="nboffre"
               [idcadran]="idcadran">
</app-new-offer>
<app-btnlinkcadrans></app-btnlinkcadrans>
