<header>
    <div class="overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/images/video.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <!--<h1 class="display-3">VINCI</h1>-->
          <h1 class="lead mb-0">Prendre soin des bâtiments,
            des occupants et de l’environnement</h1>
        </div>
      </div>
    </div>
  </header>
  
  