<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{capteur.fields.name}}</mat-card-title>
    <mat-card-subtitle>{{capteur.fields.brand}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img class="image" [src]="image">
    <br>
    <ng-container *ngFor="let data of capteur.included.data">
      {{data.name_data}} ;
    </ng-container>
    <br>
    <div *ngIf="more == false">
      <br>
      <button mat-button (click)=onMore() class="button">Voir plus</button>
    </div>
    <div *ngIf="more" class="detail">
      <br>
      Type d'alimentation : {{capteur.fields.power_supply}}
      <br> Prix : {{capteur.fields.price}} €
      <br> Référence : {{capteur.fields.ref_dataprint}}
      <br>
      <button mat-button (click)=onLess() class="button">Voir moins</button>
    </div>
    
  </mat-card-content>
</mat-card>

  
  
  