<div class="container-fluid">
    <img  src="assets/images/VF_CMYK_W.png" alt="Angular Project" routerLink="/" />

     <h1>Contact</h1>
     <h2>Une question ? Un besoin ?  </h2>
</div>

<div class="container">
  <form class="form-horizontal" [formGroup]="form">

    <div class="form-group row" [ngClass]="displayFieldCss('civility')">

      <div class="col-2">
        <label for="civility" class=" custom-select mr-sm-2 control-label required">Civilité</label>
        <span class="gfield_required">*</span>
        <select class="form-control"  id="civility" formControlName="civility">
            <option selected>M</option>
            <option>Mme</option>

          </select>
        <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
      <div class="col-5">
        <label for="surname" class="control-label-required">Nom</label>
        <span class="gfield_required">*</span>
        <input type="text" id="surname" class="form-control" formControlName="surname">
        <app-field-error-display [displayError]="isFieldValid('surname')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
      <div class="col-5">
        <label for="name" class="control-label-required">Prénom</label>
        <span class="gfield_required">*</span>
        <input type="text" id="name" class="form-control" formControlName="name">
        <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group row" [ngClass]="displayFieldCss('entreprise')">
      <div class="col-sm-4">
        <label for="entreprise" class="control-label-required">Entreprise</label>
        <input type="text" id="entreprise" class="form-control" formControlName="entreprise">
        <app-field-error-display [displayError]="isFieldValid('entreprise')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
      <div class="col-sm-4">
        <label for="mobile" class="control-label-required">Téléphone</label>
        <input type="text" id="mobile" class="form-control" formControlName="mobile">
        <app-field-error-display [displayError]="isFieldValid('mobile')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
      <div class="col-sm-4">
        <label for="email" class="control-label-required">Email</label>
        <span class="gfield_required">*</span>
        <input type="text" id="email" class="form-control" formControlName="email">
        <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Champ obligatoire">
        </app-field-error-display>
      </div>
    </div>

    <div formGroupName="address">

      <div class="form-group row ">

        <div class="col-md-6" [ngClass]="displayFieldCss('address.street')">
          <label for="street" class="control-label-required">Adresse</label>
          <span class="gfield_required">*</span>
          <input type="text" id="street" class="form-control" formControlName="street">
          <app-field-error-display [displayError]="isFieldValid('address.street')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

        <div class="col-md-4" [ngClass]="displayFieldCss('address.street')">
          <label for="city" class="control-label-required">Ville</label>
          <span class="gfield_required">*</span>
          <input type="text" id="city" class="form-control" formControlName="city">
          <app-field-error-display [displayError]="isFieldValid('address.city')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

        <div class="col-md-2" [ngClass]="displayFieldCss('address.zipCode')">
          <label for="zipCode" class="control-label-required">Code Postal</label>
          <span class="gfield_required">*</span>
          <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
          <app-field-error-display [displayError]="isFieldValid('address.zipCode')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

      </div>
    </div>
    <div formGroupName="request">

      <div class="form-group row">

        <div class="col-md-4" [ngClass]="displayFieldCss('request.object')">
          <label for="object" class="control-label-required">Objet de la demande</label>
          <select class="form-control"  id="object" formControlName="object">
            <option selected>J'ai un projet en local</option>
            <option>J'ai un projet en national</option>
            <option>J'ai un projet international</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('request.object')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

        <div class="col-md-4" [ngClass]="displayFieldCss('request.activitySeg')">
          <label for="activitySeg" class="control-label-required">Mon segment d’activité</label>
          <select class="form-control"  id="activitySeg" formControlName="activitySeg">
            <option selected>Collectivités</option>
            <option>Data center</option>
            <option>Évenementiel</option>
            <option>Grands Magasins</option>
            <option>Habitat</option>
            <option>Hôtellerie</option>
            <option>Immeubles de bureaux</option>
            <option>Industrie</option>
            <option>Laboratoires de recherche</option>
            <option>Musées et lieux culturels</option>
            <option>Piscine et balnéothérapie</option>
            <option>Sites logistiques</option>
            <option>Écoles</option>
            <option>Établissements de santé</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('request.activitySeg')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

        <div class="col-md-4" [ngClass]="displayFieldCss('request.info')">
          <label for="info" class="control-label-required">Je souhaite des informations sur :</label>
          <select class="form-control"  id="info" formControlName="info">
            <option selected>Actifs techniques</option>
            <option>Santé & Bien-être</option>
            <option>Environnement</option>
            <option>Espaces</option>

          </select>
          <app-field-error-display [displayError]="isFieldValid('request.info')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>

      </div>

    <div class="form-group row">

        <div class="col-md-12" [ngClass]="displayFieldCss('request.message')">

          <label for="message" class="control-label-required">Message</label>
          <span class="gfield_required">*</span>
          <textarea aria-label="With textarea" id="message" class="form-control" formControlName="message"></textarea>
          <app-field-error-display [displayError]="isFieldValid('request.message')" errorMsg="Champ obligatoire">
          </app-field-error-display>
        </div>
    </div>
  </div>

 <!--<div formGroupName="acceptation">
      <div class="form-group row">
          <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
         <label class="form-check-label" for="invalidCheck3">
          En soumettant ce formulaire, j’accepte que mes données personnelles soient recueillies et exploitées dans le cadre de ma demande d’information et de la relation commerciale qui peut en découler.
        </label>
        <app-field-error-display [displayError]="isFieldValid('acceptation.accept')" errorMsg="champs obligatoire">
        </app-field-error-display>

        </div>
      </div>-->
    <button class="btn" id=reinit (click)="reset()">Réinitialiser</button>
    <button class="btn btn-primary" (click)="onSubmit()">Envoyer</button>


  </form>


 </div>
