

      <mat-card >
        <mat-card-title> <img  src="../../assets/images/VF_RGB_C.png" width="200px"  />
        </mat-card-title>

      <mat-card-content>

        <div class="row justify-content-center" *ngIf="!error">
          <div class="col-md-12">
              <div class="login-box">
                  <h1>     Se Connecter   </h1>
                  <div class="alert alert-danger" *ngIf="loginError">
                     {{loginError}}
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <input type="text" formControlName="username" class="form-control" placeholder="identifiant" required>
                          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
                            <div class="alert alert-danger" role="alert "*ngIf="username.errors">
                              Username is required.
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="password" formControlName="password" class="form-control" placeholder="mot de passe" required>
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                            <div div class="alert alert-danger" role="alert " *ngIf="password.errors">
                              Password is required.
                            </div>
                          </div>
                      </div>
                      <br>
                      <div class="form-group">
                          <button type="submit"  [disabled]="!loginForm.valid" class="btn btn-primary">Je me connecte</button>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        <div class="alert alert-danger" role="alert " *ngIf="error">
          <h1>{{error.errorTitle}}</h1>
          <h3>{{error.errorDesc}}</h3>
       </div>



    </mat-card-content>
      </mat-card>
