body{
  background-color: #EEEEEE;
}

mat-card{
  position: relative;
  width: 50%;
  height: auto;
  left: 25%;
  top: 22%;
  border: 1px solid #00438a;
}

.btn{
  background-color: #00438a;
  border: none;
}

form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.form-group{
  margin-bottom: 2%;
  width: 60%;
  justify-content: center;
}

h1{
  color: #00438a;
  text-align: center;
}

.error{
  margin-top: 2%;
}

.alert{
  padding: 2%;
}
