<div style="text-align: center;">
    <br>Type {{type_explicite}} (id question : {{id_question}})

    <br>Question: <input type="text" [(ngModel)]="question">
    <!-- <br> Commentaire (facultatif): <input type="text" [(ngModel)]="info"> -->
    <div *ngFor="let r of reponses;let index=index;trackBy:trackByIndex;">
        <br><ng-container *ngIf="type != 'number' && type != 'text' && type != 'select_all_iot'">
            Réponse (id {{id_reponses[index]}}) : <input type="text" name=a{{index}} [(ngModel)]="reponses[index]" placeholder="r">
            <br>
        </ng-container>
        Question suivante:
        <select [(ngModel)]="next[index]">
            <option value="null">Aucune</option>
            <option *ngFor = "let q of questions_existantes"
                [value]="q.id">
                id {{q.id}}: "{{q.included.text[0].content}}"
            </option>
        </select>
    </div>
    
    <br><button (click)=onValiderModif()>Valider les modifications pour cette question</button>    

    <div>
        <br>---------------------------------------
    </div>
</div>
