<div id="container">
  <div class="row">
    <div id="titre">
      <h1>{{dictTexts['title']}}</h1>
    </div>

    <div id="htmlData" #htmlData>
      <h2>{{dictTexts['title2']}}</h2>
      <table class="table table-bordered">
        <tr class="table-primary">
         <th>{{dictTexts['titlecivility']}}</th>
         <td>{{data.Civilite}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['name']}}</th>
          <td>{{data.Name}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['firstname']}}</th>
          <td>{{data.Surname}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['company']}}</th>
          <td>{{data.Entreprise}}</td>
        </tr>

        <tr >
          <th>{{dictTexts['phone']}}</th>
          <td>{{data.Telephone}}</td>
        </tr>

        <tr >
          <th>{{dictTexts['mail']}}</th>
          <td>{{data.Email}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['address']}}</th>
          <td>{{data.Street}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['city']}}</th>
          <td>{{data.city}}</td>
        </tr>

        <tr >
          <th>{{dictTexts['postcode']}}</th>
          <td>{{data.zip}}</td>
        </tr>

      </table>

      <h2>{{dictTexts['title3']}}</h2>
      <table class="table table-bordered">
        <tr class="table-primary">
          <th>{{dictTexts['object']}}</th>
          <td>{{data.object}}</td>
        </tr>

        <tr class="table-primary">
          <th>{{dictTexts['business']}}</th>
          <td>{{data.activitySeg}}</td>
        </tr>

        <tr >
          <th>{{dictTexts['info']}}</th>
          <td>{{data.info}}</td>
        </tr>

        <tr >
          <th>{{dictTexts['message']}}</th>
          <td>{{data.message}}</td>
        </tr>

      </table>
    </div>

    <div id="conteneur-btn">
      <button class="btn btn-success btn-block" (click)="openPDF()">{{dictTexts['download']}}</button>
      <br>
      <button class="btn btn-success btn-block" (click)="sendEmail()">{{dictTexts['confirm']}}</button>
    </div>

    </div>
  </div>
