<div id="body"  *ngIf="admin">
    <div id="titre">
        <strong>Outil de suppression d'une question</strong>
    </div>
    <br>Question à supprimer :
    <br>
    <select [(ngModel)]="id_question">
        <option *ngFor="let question of questions_existantes"
            [value]="question.id">
            id {{question.id}}: "{{question.included.text[0].content}}"
        </option>
    </select>

    
<br>
<div id="question">
    <button (click)="onDelete()">Supprimer la question</button>
</div>
</div>

<div style="text-align: center;" *ngIf="!admin">
    <br> Veuillez vous connecter pour accéder à cette page.
</div>
