#buttonLinkCadran{
  height: auto;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

button{
  vertical-align: top;
  height: 8vh;
  width: 12vw;
  opacity: 0.75;
  margin-left: 5px;
  border: none;
  font-size: 17px;
  border-radius: 3px;
}
