.nav-item{
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-offre{
  padding-left: 10%;
}

.nav-cadran{
  padding-top: 2%;
  padding-bottom: 2%;
}

.offreContainer{
  height: 40px;
}

mat-icon{
  padding-left: 5%;
  display: none;
}

.offreContainer:hover .nav-offre span {
  text-decoration: underline;
}

.offreContainer:hover .nav-offre mat-icon {
  display: block;
}

.offreContainer:hover .solutioncontainer {
  display: inline-block;
}

.mat-nav-list{
  max-width: 310px;
  size: 15px;
}

a:hover {
  font-weight: bold;
}

.cadran{
  border-left: solid 10px;
}

.cadran:hover{
  border-left: solid 8px;
  border-right: solid 8px;
}

.solution{
  display: inline-block;
  font-size: 15px;
  width: 100%;
  padding: 7%;
  min-height: 30px;
}

.solution:hover {
  font-weight: bold;
}

.solutioncontainer{
  display: none;
  position: relative;
  top: -40px;
  left: 100%;
  color: #fff;
  list-style: none;
  width: 200px;
}
