<button class="btnmodif"
        (click)="allowModifText()"
        *ngIf="admin===true && modifAllowed===false"
        title="Modification">
        <mat-icon>create</mat-icon>
        <span>Texte</span>
</button>
<div id="container-admin-controls"
     *ngIf="admin===true && modifAllowed==true">
  <button class="btnvalid"
          (click)="confirmText()"
          title="Valider">
          Valider
  </button>
  <button (click)="closeTextModifPanel()"
          title="Annuler">
          Annuler
  </button>
</div>
