.btnmodif{
  position: absolute;
  height: 30px;
  width: 100px;
  right: 1vh;
  bottom: 1vh;
  padding: 0;
  vertical-align: center;
}

.pencil{
  height: 100%;
}

#container-admin-controls{
  display: flex;
  position: absolute;
  justify-content: center;
  height: 30px;
  right:1vh;
  bottom:1vh;
  margin-left: 1vh;
}
