<div style="width: 99vw; height: 60vh;">
  <div id="divtext" #divtext [contentEditable]="contentEditable">
    <p id="text" style="text-align: justify;">
      {{texteoffre}}
    </p>
    <div id="choixsolution">
      Solutions associées à cette offre :
      <select id="listesolutions" #listesolutions [(ngModel)]="selectedOption">
        <option disabled selected> Solutions </option>
      </select>
      <button id="buttonvalidersolution" #buttonvalidersolution (click)="onValiderSolution()">
        Découvrir cette solution
      </button>
    </div>
    <button class="btnmodif"
            (click)="allowModifText()"
            *ngIf="admin===true && modifText===false"
            title="Modification">
            Textes <img class="pencil" src="/assets/images/pencil.png">
    </button>
    <button id="btnvalid"
            (click)="confirmText()"
            *ngIf="modifText===true">
            Valider
    </button>
  </div>
  <div id="divimage" #divimage [style.background-image]="photooffre">
    <div id="commimg" #commimg [contentEditable]="contentEditable" [style.background-color]="couleur">
      {{nomoffre}}
    </div>
    <button class="btnmodif"
            (click)="allowModifImage()"
            *ngIf="admin===true && modifImage===false"
            title="Modification">
            Images <img class="pencil" src="/assets/images/pencil.png">
    </button>
    <div id="container-admin-controls"
         *ngIf="admin===true && modifImage==true">
      <input type="file"
             id="inputImgSolution"
             #input
             accept="image/png, image/jpeg">
       <button (click)="updateImageDisplay()"
               title="Visualiser">
               Visualiser
       </button>
       <button (click)="updateAssets()"
               *ngIf="visualizationActivated==true"
               title="Valider">
               Valider
       </button>
       <button (click)="closeImageModifPanel()"
               title="Annuler">
               Annuler
       </button>
     </div>
  </div>
</div>
