<div id="container">
  <div id="divtext">
    <div #divtext id="text">
      <p style="text-align: justify;" [contentEditable]="contentEditableText1">
        {{dataoffer.text}}
      </p>
    </div>
    <div id="choixsolution">
      <p> Solutions associées à cette offre : </p>
      <select id="listesolutions" #listesolutions [(ngModel)]="selectedOption" (change)="getSelectedOptionText($event)">
        <option disabled selected> Solutions </option>
        <option *ngFor="let sol of solutions"
            [value]="sol.id">
          {{sol.name}}
        </option>
      </select>
      <button id="buttonvalidersolution" (click)="onValiderSolution()">
        Découvrir cette solution
      </button>
    </div>

    <app-new-solution [idOffer]="dataoffer.idoffre" *ngIf="admin===true"></app-new-solution>

    <button type="button" class="btn btn-sm" id="buttondeletesolution" (click)="onDeleteSolution()" *ngIf="admin===true">
      <mat-icon>clear</mat-icon>
      <span>Supprimer la solution sélectionnée</span>
    </button>

    <div id="btnmodiftexte"><app-modif-texte [admin]="admin" [idtext]="dataoffer.idtext" [textView]="textView" [(editAllowed)]="contentEditableText1"></app-modif-texte></div>

  </div>
  <div id="divimage" #divimage [style.background-image]="dataoffer.picture">
    <div id="commimg" #commimg [style.background-color]="couleur">
      <p [contentEditable]="contentEditableText2">{{dataoffer.name}}</p>
      <app-modif-texte [admin]="admin" [idtext]="dataoffer.idname" [textView]="commimageView" [(editAllowed)]="contentEditableText2"></app-modif-texte>
    </div>

    <div id="btnmodifimage"><app-modif-image [admin]="admin" [containerId]="dataoffer.idoffre" containerType="offres" imageType="picture" [imageView]="imageView" [numoffer]="num"></app-modif-image></div>
  </div>

  <button type="button" class="btn btn-sm" id="buttondeleteoffer" (click)="onDeleteOffer()" *ngIf="admin===true"><mat-icon>clear</mat-icon></button>

</div>
