#divtext{
  width: 50%;
  height: 60vh;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  position: absolute;
  text-align: center;
}

#commimg{
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-width: 55%;
  position: absolute;
  align-items: baseline;
  bottom: 20%;
  padding: 2%;
  color: white;
  font-size: 20px;
}

#divimage{
  width: 50%;
  height: 60vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#choixsolution{
  margin-top: 5vh;
}

#buttonvalidersolution{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #1E1E1E;
  color: white;
  border : 4px;
  border-color: #272727;
  box-shadow: 1px 1px 1px #646464;
}

#btnmodifimage{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

#btnmodiftexte{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}
