#divtext{
  width: 50%;
  height: 60vh;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  position: absolute;
  text-align: center;
}

#commimg{
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-width: 55%;
  position: absolute;
  align-items: baseline;
  bottom: 20%;
  padding: 2%;
  color: white;
  font-size: 20px;
}

#divimage{
  width: 50%;
  height: 60vh;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#choixsolution{
  margin-top: 5vh;
}

#buttonvalidersolution{
  margin-left: 10px;
}

#btnmodifimage{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

#btnmodiftexte{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}
