.example-spacer{
    size: 15mm;
    width: 7mm;
}
.mat-form-field{
    width: 60px;
    font-size: 0.6em;
    float: left;
}
.header-align-right{
    display: flex;
    padding: 21px ;
    justify-content: flex-end;
  }
.fill-space {
    flex: 1 1 auto;
  }

.transparant{
    opacity: 0;
}
.opaque{
    opacity: 1;
}
.exemple-icon{
   /* cursor: pointer;*/
    position: center;
}
mat-select{
  color: #00438a;
  font-weight: bold;
  font-size: 16px;
}
mat-form-field{
  padding: 0;
  margin-top: 10px;
}
button{
    color: #00438a;
}
#connectbtn,#disconnectbtn{
  background-color: #00438a;
}
.mat-icon{
    transform: scale(1.2);
    margin-right: 5px;
}
 img {
    height: 60px;
    width: auto;
}
mat-toolbar{
    background-color: white; /*transparent*/
}
#container{
  position: sticky;
  top: 0;
  z-index: 20;
}
